.about-content {
  width: 100%;
  height: 87.6vh;
  position: absolute;
  font-family: 'ThickFont';
  bottom: 0;
  left: 0;
  display: flex;
  will-change: transform;
  opacity: 0;
  transform: translate3d(0, 10vh, 0);
  transition: transform 400ms, opacity 450ms;
  transition-timing-function: cubic-bezier(.75, .28, .28, .84);
  pointer-events: none;
  background: #f1f1f1;
}

.about-content-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  pointer-events: initial;
}

.about-compo {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 3vh;
}

.about-compo:first-child {
  padding-right: 0;
}

.pic-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.about-picture {
  height: 100%;
  width: 100%;
  background-image: url('../styles/img/photos5.jpg');
  background-size: cover;
  background-position: center center;
  padding: 3vh;
  transform: scale(1.3);
  transition: transform 350ms ease-out;
  transition-delay: 100ms;
}

.about-picture-active {
  transform: scale(1);
}

.about-frame {
  height: 100%;
  width: 100%;
  border: 1px solid #f9f9f9;
}

.text-inner-wrap {
  height: 100%;
  width: 100%;
  border: 1px solid darkgray;
  padding: 4vh;
  overflow-y: auto;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.text-flex {
  width: 50%;
}

.about-text {
  height: 100%;
  width: 100%;
  background: white;
  padding: 3vh;
  box-shadow: 0px 38px 101px -56px rgba(0, 0, 0, 0.75);
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%230054f7' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.hi {
  font-family: 'ThickFont';
  font-size: 9vh;
  padding-top: 3vh;
  padding-bottom: 1.5vh;
  color: royalblue;
}

.text-wrap {
  font-size: 1.6vh;
  color: #303030;
  font-family: Rubik;
}

@media (max-width: 1024px) {
  .about-content {
    flex-direction: column;
    overflow-y: auto;
  }
  .text-flex {
    width: 100%;
  }
  .about-compo {
    width: 100%;
    height: 80%;
    border: none;
  }
  .about-compo:first-child {
    padding-right: 3vh;
    padding-bottom: 0;
  }
  .about-compo:last-child {
    height: auto;
  }
  .text-wrap {
    font-size: 2.5vh;
    padding-bottom: 30px;
  }
}
