.about-content {
  width: 100%;
  height: 87.5vh;
  position: absolute;
  font-family: 'ThickFont';
  bottom: 0;
  left: 0;
  display: flex;
  will-change: transform;
  opacity: 0;
  transform: translate3d(0, 10vh, 0);
  transition: transform 400ms, opacity 450ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.about-content-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  pointer-events: initial;
}

.about-compo {
  height: 100%;
  width: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid lightgrey;
  opacity: 1;
  flex-shrink: 0;
}

.about-compo:first-child {
  border: none;
}

.pic-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.about-picture {
  height: 100%;
  width: 100%;
  background-image: url('../styles/img/photos5.jpg');
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.about-frame {
  height: 100%;
  width: 100%;
  border: 1px solid #f9f9f9;
}

.about-text {
  height: 100%;
  width: 100%;
  background: white;
  padding: 15px;
  box-shadow: 0px 38px 101px -56px rgba(0, 0, 0, 0.75);
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  display: flex;
  justify-content: center;
}

.text-inner-wrap {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  padding: 30px;
  overflow-y: auto;
}

.hi {
  font-family: 'ThickFont';
  font-size: 10vh;
  padding-bottom: 10px;
  color: royalblue;
}

.text-wrap {
  font-size: 2vh;
}

@media (max-width: 1000px) {
  .about-content {
    flex-direction: column;
    overflow-y: auto;
  }
  .about-compo {
    width: 100%;
    height: 80%;
    border: none;
    padding: 50px 50px 0px 50px;
  }
  .about-compo:last-child {
    padding-bottom: 50px;
    height: auto;
  }
  .text-wrap {
    font-size: 3vh;
    padding-bottom: 30px;
  }
}
