@font-face {
  font-family: 'ThickFont';
  src: url("webfonts/32FE5F_1_0.woff");
}

.header-wrap {
  height: 100vh;
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  will-change: transform;
}

.link-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  perspective: 1000em;
  overflow: hidden;
  transform: translateZ(0);
}

.reverseFlex {
  justify-content: flex-end;
}

.link-component {
  display: flex;
  align-items: center;
  height: 100%;
  perspective: 5000px;
  background: #FDFDFD;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  position: relative;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}

.link-component-visable {
  transform: scale(1);
  pointer-events: all;
  opacity: 1;
  transition: opacity 450ms, transform 450ms;
  transition-timing-function: cubic-bezier(.75, .28, .28, .84);
}

.link-component::before {
  content: "+";
  align-self: flex-end;
  font-size: 2vh;
  font-family: sans-serif;
  margin: 10px;
}

.link-component::after {
  content: "";
  height: 100%;
  width: 100vw;
  background: #FDFDFD;
  border-bottom: 1px solid lightgray;
  position: absolute;
  top: 0;
  right: -100%;
  will-change: transform;
}

.hide-component {
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  pointer-events: none;
}

.link-component:first-child {
  transition-delay: 0;
  transform-origin: top left;
}

.link-component:nth-child(2) {
  transition-delay: 25ms;
  transform-origin: top left;
}

.link-component:nth-child(3) {
  transition-delay: 50ms;
}

.link-component:last-child {
  transition-delay: 75ms;
}

/*ABOUT - TAB*/

.activeAbout {
  transform: scale(0.5) translateZ(0);
  will-change: transform;
  transform-origin: top left;
}

/*PROJECTS - TAB*/

.activeProjects {
  transform: scale(0.5) translate3d(0, -50vh, 0);
  will-change: transform;
  transform-origin: top left;
}

/*SKILLS - TAB*/

.activeSkills {
  transform: scale(0.5) translate3d(0, 50vh, 0);
  transform-origin: bottom left;
}

/*CONTACT - TAB*/

.activeContact {
  transform: scale(0.5) translateZ(0);
  will-change: transform;
  transform-origin: bottom left;
}

/*----------MENU - TEXT---------*/

.link-component a {
  margin: 30px 0 30px 0;
  text-decoration: none;
  color: #303030;
  font-size: 9vh;
  font-family: 'ThickFont';
  opacity: 0;
  transform: translate3d(0, -20px, 0) rotate3d(1, 0, 0, 45deg);
  transform-style: preserve-3d;
  cursor: pointer;
  margin-left: 2vh;
}

.link-component:first-child a::after {
  content: "about";
  position: absolute;
  height: 100%;
  width: 100%;
  color: royalblue;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.link-component:first-child a:hover::after {
  opacity: 1;
}

.link-component:nth-child(2) a::after {
  content: "projects";
  position: absolute;
  height: 100%;
  width: 100%;
  color: royalblue;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.link-component:nth-child(2) a:hover::after {
  opacity: 1;
}

.link-component:nth-child(3) a::after {
  content: "skills";
  position: absolute;
  height: 100%;
  width: 100%;
  color: royalblue;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.link-component:nth-child(3) a:hover::after {
  opacity: 1;
}

.link-component:last-child a::after {
  content: "contact";
  position: absolute;
  height: 100%;
  width: 100%;
  color: royalblue;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 250ms ease-out;
}

.link-component:last-child a:hover::after {
  opacity: 1;
}

a.linkTextActive {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0deg);
  transition: opacity 400ms, transform 400ms;
  transition-timing-function: ease-in-out;
}

.logo {
  position: absolute;
  right: 0;
  z-index: 100;
  opacity: 0.01;
  margin-right: 5vh;
  top: 30%;
  transform: translate3d(105vw, 0, 0) rotate(25deg);
  transform-origin: right;
  cursor: pointer;
}

.logo-main {
  height: 10vh;
}

.logoActive {
  opacity: 0.99;
  transform: translate3d(100vw, 0, 0) rotate(0deg);
  transition: transform 400ms, opacity 400ms;
  transition-delay: 350ms;
  transition-timing-function: ease-out;
}

.link-component h1 {
  color: #dcdcdc;
  font-size: 8.5vh;
  font-family: "thickfont";
  position: relative;
  transition: transform 300ms, opacity 300ms;
  transition-timing-function: ease-out;
}

.listNumHide {
  opacity: 0;
  transform: translate3d(0, -50px, 0) rotate3d(1, 0, 0, 45deg);
}

.list-num {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.backBtn {
  position: absolute;
  transform: translate3d(0, 50px, 0) rotate3d(1, 0, 0, -45deg);
  opacity: 0;
  left: 0;
  width: 100%;
  padding-top: 0.2vh;
  transition: transform 400ms, opacity 400ms;
  transition-timing-function: ease-out;
  cursor: pointer;
  padding: 0 2vh 0 2vh;
}

.backBtn h1 {
  color: royalblue;
}

.back-showing-a {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 100ms;
}

.back-showing-b {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 200ms;
}

.back-showing-c {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 200ms;
}

.back-showing-d {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 100ms;
}

/*ABOUT*/

a#about {
  transition-delay: 250ms;
}

/*PROJECTS*/

a#projects {
  transition-delay: 350ms;
}

/*SKILLS*/

a#skills {
  transition-delay: 450ms;
}

/*CONTACT*/

a#contact {
  transition-delay: 550ms;
}
