.project-content {
  height: 87.6vh;
  width: 100%;
  position: absolute;
  font-family: 'ThickFont';
  bottom: 0;
  left: 0;
  background: #f9f9f9;
  overflow-y: hidden;
  perspective: 5000px;
  transform-origin: bottom;
  will-change: transform;
  opacity: 0;
  transform: translate3d(0, 10vh, 0);
  transition: transform 400ms, opacity 450ms;
  transition-timing-function: cubic-bezier(.75, .28, .28, .84);
  pointer-events: none;
}

.project-content-active {
  opacity: 1;
  transition-delay: 100ms;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  pointer-events: initial;
}

.project-container {
  height: 100%;
  width: 100%;
  background: royalblue;
  overflow-y: auto;
  padding: 50px;
  /*testing*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-file {
  box-shadow: 0px 38px 101px -56px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  padding: 10px;
  position: relative;
  transition: transform 400ms ease-out;
  will-change: transform;
  flex-shrink: 0;
  height: 300px;
  width: 300px;
  margin: 50px;
  margin-top: 50px;
  transform: translate3d(0, 10vh, 0);
}

.project-file-active {
  transform: translate3d(0, 0, 0);
}

.project-wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

.project-file:hover .file-pic {
  transform: rotate3d(0, 1, 0, 25deg);
  opacity: 0.01;
}

.project-file:hover .file-info {
  transform: rotate3d(0, 1, 0, 0deg);
  opacity: 1;
}

.file-pic {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transition: transform 0.3s ease-out;
  position: relative;
  border: 1px solid white;
  transform-origin: left;
}

.file-info {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  transform: rotate3d(0, 1, 0, -35deg);
  opacity: 0;
  transform-origin: left;
  top: 0;
  position: absolute;
  transition: opacity 300ms, transform 300ms;
  transition-timing-function: ease-out;
}

.info-text {
  padding: 20px;
  color: royalblue;
  font-size: 2vh;
}

.tech-text {
  padding: 10px 10px 10px 20px;
}

.tech-links {
  padding: 20px;
}

.project-file:first-child {
  background: url('./img/projScreens/messenger.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 200ms;
}

.project-file:nth-child(2) {
  background: url('./img/projScreens/movies.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 225ms;
}

.project-file:nth-child(3) {
  background: url('./img/projScreens/notemate.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 250ms;
}

.project-file:nth-child(4) {
  background: url('./img/projScreens/oldportf.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 275ms;
}

.project-file:nth-child(5) {
  background: url('./img/projScreens/weatherfast.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 300ms;
}

.project-file:nth-child(6) {
  background: url('./img/projScreens/radio.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 325ms;
}

.project-file:nth-child(7) {
  background: url('./img/projScreens/todoapp.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 350ms;
}

.project-file:nth-child(8) {
  background: url('./img/projScreens/calc.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 375ms;
}

.project-file:nth-child(9) {
  background: url('./img/projScreens/server.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 400ms;
}

.project-file:nth-child(10) {
  background: url('./img/projScreens/galaxsys6.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 425ms;
}

.project-file:nth-child(11) {
  background: url('./img/projScreens/todoapp.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 450ms;
}

@media (max-width: 1000px) {
  .project-file {
    height: 50vh;
    width: 85vw;
    margin: 50px 0 50px 0;
  }
  .info-text {
    padding: 2vh;
    color: royalblue;
    font-size: 4vh;
  }
  .tech-text {
    padding: 2vh;
    font-size: 3vh;
  }
  .tech-links {
    padding: 2vh;
    font-size: 3vh;
  }
}
