.project-content {
  width: 100%;
  height: 87.7vh;
  position: absolute;
  font-family: 'ThickFont';
  bottom: 0;
  left: 0;
  background: #f9f9f9;
  padding: 15px;
  pointer-events: none;
  overflow-y: hidden;
  border-top: 1px solid lightgray;
  perspective: 5000px;
  transform: scale(0.8);
  transform-origin: bottom;
  transition: transform 500ms, opacity 500ms;
  transition-timing-function: cubic-bezier(.83, .22, .47, .89);
  transition-delay: 50ms;
  opacity: 0;
}

.contentActiveProject {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.project-container {
  width: 100%;
  height: 100%;
  background: royalblue;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;
}

.project-file {
  height: 400px;
  width: 450px;
  margin: 50px;
  box-shadow: 0px 38px 101px -56px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transform: translate3d(0, 20vh, 0);
  transition: transform 400ms cubic-bezier(.72, .35, .46, .81);
  transition-delay: 300ms;
  opacity: 1;
}

.projectActive {
  transform: translate3d(0, 0px, 0);
  opacity: 1;
}

.project-wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

.project-file:hover .file-pic {
  transform: rotate3d(0, 1, 0, 25deg);
  opacity: 0;
}

.project-file:hover .file-info {
  transform: rotate3d(0, 1, 0, 0deg);
  opacity: 1;
}

.file-pic {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transition: transform 0.3s ease-out;
  position: relative;
  border: 1px solid white;
  transform-origin: left;
}

.file-info {
  height: 100%;
  width: 100%;
  background: #f9f9f9;
  display: flex;
  align-items: flex-start;
  transform: rotate3d(0, 1, 0, -35deg);
  transform-origin: left;
  opacity: 0;
  top: 0;
  position: absolute;
  transition: opacity 300ms, transform 300ms;
  transition-timing-function: ease-out;
}

.info-text {
  padding: 20px;
  color: royalblue;
  font-size: 1.6vh;
}

.project-file:first-child {
  background: url('./img/projScreens/messenger.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 300ms;
}

.project-file:nth-child(2) {
  background: url('./img/projScreens/movies.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 350ms;
}

.project-file:nth-child(3) {
  background: url('./img/projScreens/notemate.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 400ms;
}

.project-file:nth-child(4) {
  background: url('./img/projScreens/oldportf.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 450ms;
}

.project-file:nth-child(5) {
  background: url('./img/projScreens/weatherfast.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 500ms;
}

.project-file:nth-child(6) {
  background: url('./img/projScreens/radio.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 550ms;
}

.project-file:nth-child(7) {
  background: url('./img/projScreens/todoapp.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 600ms;
}

.project-file:nth-child(8) {
  background: url('./img/projScreens/calc.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 650ms;
}

.project-file:nth-child(9) {
  background: url('./img/projScreens/server.jpg');
  background-size: cover;
  background-position: center center;
}

.project-file:nth-child(10) {
  background: url('./img/projScreens/galaxsys6.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 700ms;
}

.project-file:nth-child(11) {
  background: url('./img/projScreens/todoapp.jpg');
  background-size: cover;
  background-position: center center;
  transition-delay: 750ms;
}

@media (max-width: 1000px) {
  .contentActive {
    padding: 0;
  }
  .project-container {
    flex-wrap: wrap;
    justify-content: center;
    /*flex-direction: column;*/
  }
  .project-file {
    width: 90%;
    height: 60%;
    margin: 50px 50px 0 50px;
    background-size: 500px;
  }
  .project-file:last-child {
    margin-bottom: 50px;
  }
}
