.project-content {
  width: 100%;
  height: 100vh;
  position: absolute;
  font-family: 'ThickFont';
  top: 0;
  left: 0;
  background: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-25vh) rotate3d(0, 1, 0, 25deg);
  transition: all 600ms cubic-bezier(.86, .28, .18, .85);
  opacity: 0;
  pointer-events: none;
}

.contentActive {
  opacity: 1;
  transform: translateY(0) rotate3d(0, 0, 0, 0deg);
  transform-origin: top;
  pointer-events: all;
}
