.example-enter {
  opacity: 0.01;
  transform: scale(0.8);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
  transition-timing-function: ease-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: scale(0.8);
  transition: opacity 300ms, transform 300ms;
  transition-timing-function: ease-out;
}
