.example-enter {
  opacity: 0;
  transform: translate3d(0, 10vh, 0);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms, opacity 450ms;
  transition-timing-function: ease-out;
  will-change: transform;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translate3d(0, 10vh, 0);
  transition: opacity 400ms, transform 450ms;
  transition-timing-function: cubic-bezier(.83, .22, .47, .89);
}
