.example-enter {
  opacity: 0;
  transform: scale(0.8) translateZ(0);
  will-change: transform;
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: scale(1) translateZ(0);
  transition: opacity 400ms, transform 400ms;
  transition-timing-function: cubic-bezier(.83, .22, .47, .89);
  will-change: transform;
}

.example-leave {
  opacity: 1;
  transform: translateZ(0);
  will-change: transform;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: scale(0.8) translateZ(0);
  transition: opacity 400ms, transform 400ms;
  transition-timing-function: cubic-bezier(.83, .22, .47, .89);
  will-change: transform;
}

